*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: #F3F3F3;
    overflow: hidden;
}

.card-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    align-items: flex-start;
}

.card {
    background: white;
    padding: 1rem;
    border: 1px solid black;
    border-radius: .25em;
}

.h2, p {
    margin: 0;
}

h2 {
    margin-bottom: 1rem;
}